*{
    margin: 0;

}
  header {
    background-color: red;
  padding-left: 800px;
  padding-top: 20px;
  padding-bottom: 20px;
  border:solid black;
 
  }
  header a {
    color: blue;
    font-size: 30px;
    text-decoration: double;
    font-size: medium;
  }
  <h1 style="background-color:DodgerBlue;">Hello World</h1>
    body {
        background-image: url("/home/amjed/Bureau/welcome.jpg");
        background-repeat: no-repeat;
        background-position: right top;
        background-attachment: fixed;
      }
  
